<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Project</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="/about">About</a></li>
        <li><a href="/license">License</a></li>
        <li><a href="/partners">Partners</a></li>
        <li><a href="/versions">Versions</a></li>
        <li><a href="/documentation/contribution-guide">Contribute</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Details</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="/stakeholders">Stakeholders</a></li>
        <li><a href="/userstories">User Stories</a></li>
        <li><a href="/specifications">Specifications</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/documentation">Documentation</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Technology</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="/documentation/developer-guide">How it works</a></li>
        <li><a href="https://www.eclipse.org/acceleo">Acceleo</a></li>
        <li><a href="https://www.eclipse.org/sirius">Sirius</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Support</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="/faq">FAQ</a></li>
        <li><a href="https://www.eclipse.org/forums/index.php/f/19/">Forum</a></li>
        <li><a href="https://wiki.eclipse.org/EEF">Wiki</a></li>
        <li><a href="http://www.obeo.fr/en/services/training">Training</a></li>
      </ul>
    </div>
  </div>
  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
    </div>
    <ul class="mdl-mega-footer--link-list">
      <li><a href="/about">About</a></li>
      <li><a href="https://www.obeo.fr">Obeo</a></li>
      <li><a href="https://www.eclipse.org">Eclipse Foundation</a></li>
      <li><a href="/license">License and Terms</a></li>
    </ul>
  </div>
</footer>
