<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h2>EEF Developers Documentation</h2>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h4>{{page.title}}</h4>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ site.baseurl }}">Home</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}documentation">Documentation</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}versions">Versions</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}stakeholders">Stakeholders</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}specifications">Specifications</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}meetingminutes">Meeting Minutes</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}checklists">Checklists</a>
      </nav>
    </div>
</header>
