<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h2>EEF Developers Documentation</h2>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h4>{{page.title}}</h4>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/features">Features</a>
        <a class="mdl-navigation__link" href="/documentation">Documentation</a>
        <a class="mdl-navigation__link" href="/versions">Versions</a>
        <a class="mdl-navigation__link" href="/stakeholders">Stakeholders</a>
        <a class="mdl-navigation__link" href="/userstories">Users Stories</a>
        <a class="mdl-navigation__link" href="/specifications">Specifications</a>
        <a class="mdl-navigation__link" href="/meetingminutes">Meeting Minutes</a>
        <a class="mdl-navigation__link" href="/checklists">Checklists</a>
      </nav>
    </div>
</header>
