<!DOCTYPE HTML>
<html lang="en">
{% include head.html %}

<body class="mdl-eef mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include header.html %}

    <main class="mdl-layout__content">
      {{ content }}

      {% include footer.html %}
    </main>

    <a href="/documentation/contribution-guide" id="how-to-contribute" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Contribute!</a>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
  </div>
</body>
</html>
